* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}

.game-container {
  // display: flex;
  // width: 100%;
  // align-items: center;
  // justify-content: center;
  // height: 100vh;
  .figure-container {
    // for head
    fill: transparent;

    // for lines
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    height: 100%;

    .figure-part {
      display: none;
    }
  }
}

.popup-container {
  margin-top: 10rem;
}
