* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}

h1 {
  margin-top: 2rem;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 450px;
  width: 650px;
  .figure-container {
    // for head
    fill: transparent;

    // for lines
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    height: 100%;

    .figure-part {
      display: none;
    }
  }

  .wrong-letters-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;

    p {
      margin: 0 0 5px;
    }

    span {
      font-size: 1.5rem;
    }
  }

  .word {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    .letter {
      border-bottom: 3px solid #2980b9;
      display: inline-flex;
      font-size: 2rem;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      height: 50px;
      width: 20px;
    }
  }
}

.popup-container {
  // margin-top: 10rem;
  background-color: rgba(161, 159, 159, 0.3);
  // background-color: rgba(250, 250, 250, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;

  .popup {
    background: #2980b9;
    border-radius: 5px;
    padding: 1.2rem;
    text-align: center;
    box-shadow: 0 15px 10px 3px rgba(161, 159, 159, 0.3);

    button {
      cursor: pointer;
      background-color: #fff;
      color: #2980b9;
      padding: 1rem 1.3rem;
      width: 100%;
      margin-top: 20px;
      border: 1px solid #2980b9;
      transition: all 0.3s ease-in;
      font-size: 1rem;

      &:active {
        transform: scale(0.98);
      }

      &:focus {
        outline: 0;
      }

      &:hover {
        background-color: #2980b9;
        color: #fff;
        border: 1px solid #333;
      }
    }
  }
}

.notification-container {
  background-color: rgba(161, 159, 159, 0.3);
  padding: 1rem 1.2rem;
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: -300px;
}
